<form class="form" [formGroup]="changeNameForm">
  <div class="row">
    <div class="input">
      <mat-form-field>
        <input
          matInput
          id="username"
          [placeholder]="'leaf.pseudo-update.pseudo-input-placeholder' | translate"
          value=""
          formControlName="username"
        />
      </mat-form-field>
    </div>
  </div>
</form>
<button mat-button (click)="changeName()" [disabled]="changeNameForm.invalid">
  {{ 'leaf.pseudo-update.submit-button-label' | translate}}
</button>
