
.form {
  display: flex;
  flex-direction: column;
}

.information {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: 0.3em;
  }

  .description {
    font-weight: bold;
  }
}

.row {
  width: 100%;
  display: flex;

  .input {
    padding: 0.25em;
    flex: 1;

    .mat-form-field {
      width: 100%;
    }
  }
}
