.organization-selector {
  .current-organization {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.full-width {
  width: 100%;
}

.mdc-button.menu-item-link {
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
