@use '@angular/material' as mat;

.organization-selector {
  .current-organization {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.organization-selector-menu {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .search-container {
    padding: 0 0.5rem;
    flex: 0;
  }

  .organization-list {
    padding: 0;
    overflow-y: auto;
    flex: 1;
  }
}

.full-width {
  width: 100%;
}

.mdc-button.menu-item-link {
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.organization-selector-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .organization-picker-card {
    padding: 1.5rem 2rem;
    border-radius: 1rem;


    .header {
      align-items: center;
      gap: 1rem;
      padding: 0;

      .image {
        width: 80px;
        height: 80px;
        margin-bottom: 0;
        background-color: var(--organization-card-color, #0a8043);
        border-radius: 50%;

        text-transform: uppercase;
        font-weight: bold;
        color: white;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 28px;
        letter-spacing: 3px;
      }

      ::ng-deep .mat-mdc-card-header-text {
        height: fit-content;

        .title {
          font-size: 28px;
        }

        .subtitle {
          font-size: 14px;
          align-items: center;
          display: flex;
          gap: 0.25rem;
        }
      }

      .spacer {
        flex: 1;
      }
    }
  }

  @media (max-width: 768px) {
    .organization-picker-card {
      padding: 0.25rem 0.5rem;

      .header {
        .image {
          display: none;
        }
      }
    }
  }
}

