<div class="invoices-list">
  <mat-progress-bar mode="indeterminate" *ngIf="fetchInvoicesPending$ | async"></mat-progress-bar>
  <ng-container *ngIf="!(fetchInvoicesPending$ | async)">
    <table mat-table *ngIf="invoices$ | async as invoices; else noInvoices" [dataSource]="invoices" class="mat-elevation-z0 no-background">

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> {{ 'leaf.payment.invoices-list.header.date' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate | date : 'longDate' }} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="td-center"> {{ 'leaf.payment.invoices-list.header.amount' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="td-center">
          {{(element.price.amount / 100) | currency: element.price.currency.toUpperCase(): 'symbol': '1.2-2' }}<br>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="td-center"> {{ 'leaf.payment.invoices-list.header.status' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="td-center">
          <mat-chip-option [color]="invitationStatusToColorMapping[element.status]" highlighted [selectable]="false">
            {{ ('leaf.payment.invoices-list.statuses.' + element.status) | translate }}
          </mat-chip-option>
        </td>
      </ng-container>

      <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef class="td-center"> {{ 'leaf.payment.invoices-list.header.download' | translate}} </th>
        <td mat-cell *matCellDef="let element" class="td-center">
          <a mat-icon-button [href]="element.pdfUrl" target="_blank" [disabled]="!element.pdfUrl">
            <mat-icon>download</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
</div>

<ng-template #noInvoices>
  No invoices
</ng-template>
