.container {
  .card {
    width: 95%;
  }

  .description-error {
    margin-bottom: 0.5em;
  }
}

.container-spacer {
  padding: 1em;
}

.uploader {
  width: 15em;
  height: 15em;
  margin: auto;
}

.uploader-button {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}
