
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .user-search {
    width: 350px;
  }

  .open-invitations-button {
    margin-bottom: 22px;
  }
}

.information {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: 0.3em;
  }

  .description {
    font-weight: bold;
  }
}

.yourself-indicator {
  font-weight: bold;
  font-style: italic;
}

.profile-letters-picture {
  background-color: #0a8043;
  border-radius: 50%;

  text-transform: uppercase;
  font-weight: bold;
  color: white;
  height: 42px;
  width: 42px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;

  .input {
    padding: 0.25em;
    flex: 1;

    .mat-mdc-form-field {
      width: 100%;
    }
  }
}
