.image-flag {
  height: 2em;
  margin-right: 1em;
}

.language-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item-link {
  display: flex;
  gap: 1em;
}