<!-- <button
  mat-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
>
  <mat-icon>language</mat-icon>
  <span *ngIf="!reduced">{{ placeholderTranslationKeyMenu | translate }}</span>
</button> -->

<a mat-icon-button [matMenuTriggerFor]="menu" *ngIf="reduced">
  <div class="reduced-icon">
    <ng-container
      *ngTemplateOutlet="languageIconTemplate; context: {
      showSelectedFlagIcon: showSelectedFlagIcon,
      selectedLanguage: selectedLanguage,
      languageCodesPerLangue: languageCodesPerLangue
    }">
    </ng-container>
  </div>
</a>
<button
  mat-button
  [matMenuTriggerFor]="menu"
  class="full-width menu-item-link"
  *ngIf="!reduced"
>
  <ng-container
    *ngTemplateOutlet="languageIconTemplate; context: {
    showSelectedFlagIcon: showSelectedFlagIcon,
    selectedLanguage: selectedLanguage,
    languageCodesPerLangue: languageCodesPerLangue
  }">
  </ng-container>
  <span>
    {{ placeholderTranslationKeyMenu | translate }}
  </span>
</button>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    *ngFor="let language of availableLanguages"
    (click)="changeLanguage(language)"
  >
    <div class="language-item">
      <img
        class="image-flag"
        [src]="languageCodesPerLangue[language].iconPath"
        alt="image flag"
      />
      <span>{{ languageCodesPerLangue[language].translationKey }}</span>
    </div>
  </button>
</mat-menu>

<ng-template #languageIconTemplate let-showSelectedFlagIcon="showSelectedFlagIcon" let-selectedLanguage="selectedLanguage" let-languageCodesPerLangue="languageCodesPerLangue">
  <ng-container *ngIf="showSelectedFlagIcon && !!selectedLanguage; else languageIcon">
    <img
      class="selected-image-flag"
      [src]="languageCodesPerLangue[selectedLanguage.languageCode].iconPath"
      alt="image flag"
    />
  </ng-container>
  <ng-template #languageIcon>
    <mat-icon class="language-icon">language</mat-icon>
  </ng-template>
</ng-template>
