.full-width {
  width: 100%;
}

.highlighted {
  font-weight: bold;
}

.redirection-row {
  height: 4.5rem;
}

.mat-column-id, .mat-column-link {
  align-items: center;
  padding: 0;
}

.mat-column-id {
  width: 2rem;
}

.mat-column-link {
  width: 1rem;
}

.ongoing-update-spinner {
  margin-right: 0.75rem;
}
