<div class="header-line">
  <div class="title">
    <h2 class="">LISTES DES UTILISATEURS</h2>
  </div>
</div>

<mat-divider></mat-divider>

<div class="container-spacer">
  <table mat-table [dataSource]="users$ | async" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Pseudo </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef> Administrateur ? </th>
      <td mat-cell *matCellDef="let element"> {{!!element.admin ? 'Oui': 'Non'}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
