<form [formGroup]="registerForm" (keypressed.enter)="register($event)">
  <div class="field-wrapper login-wrapper">
    <input class="field login" formControlName="login" [attr.placeholder]="'leaf.register.vanilla.loginPlaceholder' | translate" />
  </div>
  <div class="field-wrapper login-wrapper">
    <input class="field password" [type]="showPassword ? 'text' : 'password'" formControlName="password" [attr.placeholder]="'leaf.register.vanilla.passwordPlaceholder' | translate" />
    <div
      *ngIf="enablePasswordCheck && passwordCheckClasses && showPassword"
      class="hide-icon"
      (click)="showPassword = false">
      <i [ngClass]="passwordCheckClasses.hide"></i>
    </div>
    <div
      *ngIf="enablePasswordCheck && passwordCheckClasses && !showPassword"
      class="show-icon"
      (click)="showPassword = true">
      <i [ngClass]="passwordCheckClasses.show"></i>
    </div>
  </div>
  <div class="field-wrapper login-wrapper">
    <input class="field passwordValidation" [type]="showPassword ? 'text' : 'password'" formControlName="passwordValidation" [attr.placeholder]="'leaf.register.vanilla.passwordValidationPlaceholder' | translate" />
    <div
      *ngIf="enablePasswordCheck && passwordCheckClasses && showPassword"
      class="hide-icon"
      (click)="showPassword = false">
      <i [ngClass]="passwordCheckClasses.hide"></i>
    </div>
    <div
      *ngIf="enablePasswordCheck && passwordCheckClasses && !showPassword"
      class="show-icon"
      (click)="showPassword = true">
      <i [ngClass]="passwordCheckClasses.show"></i>
    </div>
  </div>
  <button (click)="register($event)">{{ 'leaf.register.vanilla.buttonLabel' | translate }}</button>
</form>
