<form class="profile" [formGroup]="profileForm">
  <div formGroupName="phone" class="form-wrapper">
      <mat-form-field class="phone_country" subscriptSizing="dynamic" [appearance]="appearance">
          <mat-label>{{ 'leaf.phone-number-form-field.countryLabel' | translate }}</mat-label>
          <mat-select formControlName="country" (selectionChange)="formatNumber()">
              <mat-option *ngFor="let countryCode of (availableCountryCode$ | async)" [value]="countryCode.code">
                  {{countryCode.country}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field class="phone_number" subscriptSizing="dynamic" [appearance]="appearance">
          <mat-label>{{ 'leaf.phone-number-form-field.numberLabel' | translate }}</mat-label>
          <input formControlName="number"
                 type="tel"
                 placeholder="Telephone"
                 (input)="formatNumber()"
                 [errorStateMatcher]="phoneErrorMatcher"
                 matInput>
      </mat-form-field>
  </div>
  <mat-error *ngIf="!phoneGroup.valid">
    {{ 'leaf.phone-number-form-field.validityHint' | translate: {example: phoneHint} }}
  </mat-error>
</form>
