@import "../../../styling/devices.scss";

.selected-payment-plan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;

  @include except-for-phone() {
    .selected-plan-view {
      min-width: 240px;
    }
  }

  .plan-recap-table {
    flex: 1;
    table-layout: fixed;
    height: fit-content;
  }

  .first-cell {
    width: 100%;
    font-weight: bold;
  }

  .inline-cell {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .disclaimer-cell {
    padding: 1rem;

    .disclaimer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .credit-card {
        width: 100%;
        height: fit-content;
        width: 100%;
        max-width: 400px;
      }
    }
  }

  @include for-phone-only {
    .disclaimer-cell {
      padding: 1rem 0 0 0;
    }

    .plan-recap-table {
      margin-top: 1.5rem;
    }
  }
}

.mobile-plan {
  flex-direction: column;
}
