<form [formGroup]="addressFormGroup" class="address-form">
  <mat-form-field subscriptSizing="dynamic" [appearance]="fieldAppearance">
    <mat-label>{{ 'leaf.address-form.address-input-placeholder' | translate }}</mat-label>
    <input
      matInput
      id="address"
      [placeholder]="'leaf.address-form.address-input-placeholder' | translate"
      value=""
      formControlName="address"
    />
    <mat-error *ngIf="addressFormGroup.controls.address.hasError('required')">
      {{ "leaf.address-form.requiredError" | translate }}
    </mat-error>
  </mat-form-field>
  <div class="line">
    <mat-form-field subscriptSizing="dynamic" [appearance]="fieldAppearance">
      <mat-label>{{ 'leaf.address-form.postalCode-input-placeholder' | translate }}</mat-label>
      <input
        matInput
        id="postalCode"
        [placeholder]="
          'leaf.address-form.postalCode-input-placeholder' | translate
        "
        value=""
        formControlName="postalCode"
      />
      <mat-error
        *ngIf="addressFormGroup.controls.postalCode.hasError('required')"
      >
        {{ "leaf.address-form.requiredError" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic" [appearance]="fieldAppearance">
      <mat-label>{{ 'leaf.address-form.city-input-placeholder' | translate }}</mat-label>
      <input
        matInput
        id="city"
        [placeholder]="'leaf.address-form.city-input-placeholder' | translate"
        value=""
        formControlName="city"
      />
      <mat-error *ngIf="addressFormGroup.controls.city.hasError('required')">
        {{ "leaf.address-form.requiredError" | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="line">
    <mat-form-field subscriptSizing="dynamic" [appearance]="fieldAppearance">
      <mat-label>{{ 'leaf.address-form.country-input-placeholder' | translate }}</mat-label>
      <mat-select
        id="country"
        formControlName="country">
        <mat-option *ngFor="let country of countries" [value]="country">
          {{'leaf.countries.' + country | translate}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="addressFormGroup.controls.country.hasError('required')">
        {{ "leaf.address-form.requiredError" | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
