.container-spacer {
  padding: 1em;
}

.row {
  width: 100%;
  display: flex;

  .input {
    padding: 0.25em;
    flex: 1;

    .mat-form-field {
      width: 100%;
    }
  }
}

.full-width-table {
  width: 100%;
}

table {
  width: 100%;
}

.float-right {
  float: right;
}

.warn {
  color: red;
}

.content-wrap {
  width: 480px;
  overflow-wrap: break-word;
}
