<div class="organization-policies" *ngIf="(organization$ | async) as organization">
  <mat-list role="list" class="roles-list">
    <mat-list-item role="listitem">
      <b>{{ "leaf.organization-policies.roleListTitle" | translate }}</b>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem" *ngFor="let role of organization.policies.roles" class="role-list-item">
      <a mat-button [routerLink]="'../' + role.name" class="role-button" routerLinkActive="active">
        <mat-icon *ngIf="role.creatorDefault">local_police</mat-icon>
        <mat-icon *ngIf="role.otherDefault">shield_lock</mat-icon>
        <mat-icon *ngIf="!role.otherDefault && !role.creatorDefault">admin_panel_settings</mat-icon>
        <span>{{ role.name }}</span>
      </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <button mat-flat-button class="role-button" color="primary" (click)="createRole()" [disabled]="!(eligibilities$ | async).managePolicies.eligible">
        <mat-icon>add_moderator</mat-icon>
        <span>{{ "leaf.organization-policies.addRoleButtonLabel" | translate }}</span>
      </button>
    </mat-list-item>
  </mat-list>
  <div class="role-configuration">
    <div class="role-configuration-header">
      <mat-form-field subscriptSizing="dynamic" *ngIf="(eligibilities$ | async).managePolicies.eligible">
        <mat-label>{{ "leaf.organization-policies.roleNameFormLabel" | translate }}</mat-label>
        <input matInput type="text" [formControl]="roleNameForm">
      </mat-form-field>
      <span *ngIf="!(eligibilities$ | async).managePolicies.eligible" class="role-name">
        {{role.name}} :
      </span>
      <div class="spacer"></div>
      <button mat-flat-button color="primary" [disabled]="!roleUpdated || !(eligibilities$ | async).managePolicies.eligible"(click)="updateRole()">
        <mat-icon>save</mat-icon>
        {{ 'leaf.organization-policies.roleSaveButtonLabel' | translate}}
      </button>
      <button mat-flat-button color="warn" [disabled]="role.creatorDefault || role.otherDefault || !(eligibilities$ | async).managePolicies.eligible" (click)="deleteRole()">
        <mat-icon>delete</mat-icon>
        {{ 'leaf.organization-policies.roleDeleteButtonLabel' | translate}}
      </button>
    </div>

    <ng-container *ngFor="let category of classifyRights(role.rights);">
      <h3 *ngIf="category.category">{{ ("leaf.organization-policies.categories." + category.category) | translate }}</h3>
      <mat-list role="list" class="role-configuration-policies">
        <ng-container *ngFor="let right of category.rights;">
          <mat-list-item role="listitem" class="role-list-item">
            <div class="role-configuration-policy">
              <div class="name-and-value-line">
                <span class="role-name">
                  {{ ("leaf.organization-policies.policies." + right.name + ".name") | translate }}
                </span>
                <span class="role-value" [ngSwitch]="right.type">
                    <ng-container *ngSwitchCase="'boolean'">
                      <mat-slide-toggle
                        [checked]="right.value === 'true'"
                        (change)="onRightValueChange(right.name, $event)"
                        [disabled]="!(eligibilities$ | async).managePolicies.eligible || (eligibilities$ | async)[right.name] && !(eligibilities$ | async)[right.name].eligible"></mat-slide-toggle>
                    </ng-container>
                    <ng-container *ngSwitchCase="'number'">
                      <button mat-mini-fab class="dense" (click)="addtoNumberRight(right.name, -1)">
                        <mat-icon>remove</mat-icon>
                      </button>
                      <mat-form-field class="dense" style="margin-left: -0.75rem; margin-right: -0.75rem; width: 100px;" appearance="outline" subscriptSizing="dynamic">
                        <input matInput type="number" [value]="right.value" (change)="onNumberRightValueChange(right.name, $event.target.value)">
                      </mat-form-field>
                      <button mat-mini-fab class="dense" (click)="addtoNumberRight(right.name, 1)">
                        <mat-icon>add</mat-icon>
                      </button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      other ...
                    </ng-container>
                </span>
              </div>
              <span class="role-description">
                {{ ("leaf.organization-policies.policies." + right.name + ".description") | translate }}
              </span>
            </div>
          </mat-list-item>
          <mat-divider class="separator"></mat-divider>
        </ng-container>
      </mat-list>
    </ng-container>
  </div>
</div>
