.sponsoring-code-update {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .no-sponsor-disclaimer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .no-shrink {
    flex-shrink: 0;
  }
}
