.divider {
    margin: 1rem 0;
}

.other-actions {
    display: flex;
    justify-content: space-evenly;

    .link {
        color: rgb(66, 90, 112);
        text-decoration-color: rgb(66, 90, 112);
        font-size: 0.8rem;
    }
}