<h1>Payment</h1>

<mat-divider></mat-divider>

<h2>Invoices list</h2>
<leaf-invoices-list invoicesType="plan"></leaf-invoices-list>

<h2>Plan selection</h2>
<leaf-plan-selector></leaf-plan-selector>

<h2>Selected payment plan</h2>
<mat-card class="labs-payment-card">
    <leaf-selected-payment-plan></leaf-selected-payment-plan>
</mat-card>

<h2>Customer default payment card</h2>
<leaf-customer-default-payment-card></leaf-customer-default-payment-card>

<h2>Organization plan information for admin</h2>
<app-leaf-plan-information-for-admin *ngIf="(currentOrganization$ | async) as organization" [organizationId]="organization.id"></app-leaf-plan-information-for-admin>

<h2>Create service</h2>
<leaf-create-service
  attachmentType="ORGANIZATION"
  [attachedTo]="(currentOrganization$ | async)?.id"
  [availableServices]="availableServices"
  (serviceCreated)="onServiceCreated($event)"
  (serviceCreationError)="onServiceCreationError($event)">
</leaf-create-service>

<h2>Services list</h2>
<leaf-services-list
  attachmentType="ORGANIZATION"
  [attachedTo]="(currentOrganization$ | async)?.id">
</leaf-services-list>