<form class="form" [formGroup]="registerForm" (keyup.enter)="register($event)">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'leaf.register.loginLabel' | translate }}</mat-label>
    <input matInput id="email" value="" formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'leaf.register.passwordLabel' | translate }}</mat-label>
    <input matInput id="password" type="password" value="" formControlName="password">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'leaf.register.passwordValidationLabel' | translate }}</mat-label>
    <input matInput id="passwordValidation" type="password" value="" formControlName="passwordValidation">
  </mat-form-field>
  <button mat-stroked-button (click)="register($event)">{{ 'leaf.register.submitLabel' | translate }}</button>
</form>
