<form [formGroup]="registerForm" (keypressed.enter)="register($event)">
  <ng-container *ngIf="variant === 'material'">
    <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
      <mat-label>{{ 'leaf.register.loginLabel' | translate }}</mat-label>
      <input matInput id="login" value="" formControlName="login">
    </mat-form-field>
    <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
      <mat-label>{{ 'leaf.register.passwordLabel' | translate }}</mat-label>
      <input
        matInput
        id="password"
        [type]="showPassword ? 'text' : 'password'"
        value=""
        formControlName="password" />
      <button *ngIf="enablePasswordCheck" matSuffix mat-icon-button (click)="showPassword = !showPassword" type="button">
        <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <mat-error *ngIf="hasMinimumPasswordSecurityError()">
        {{ getMinimumPasswordSecurityErrorMessage() }}
      </mat-error>
    </mat-form-field>
    <leaf-password-security-indicator
      *ngIf="showPasswordSecurityLevel"
      [passwordControl]="registerForm.get('password')"
      [minimumPasswordSecurity]="minimumPasswordSecurity">
    </leaf-password-security-indicator>
    <mat-form-field appearance="outline" *ngIf="passwordConfirmation" [subscriptSizing]="'dynamic'">
      <mat-label>{{ 'leaf.register.passwordValidationLabel' | translate }}</mat-label>
      <input
        matInput
        id="passwordValidation"
        [type]="showPassword ? 'text' : 'password'"
        value=""
        formControlName="passwordValidation" />
      <button *ngIf="enablePasswordCheck" matSuffix mat-icon-button (click)="showPassword = !showPassword" type="button">
        <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-stroked-button (click)="register($event)">{{ 'leaf.register.submitLabel' | translate }}</button>
  </ng-container>
  <ng-container *ngIf="variant === 'vanilla'">
    <div class="field-wrapper login-wrapper">
      <input class="field login" formControlName="login" [attr.placeholder]="'leaf.register.loginLabel' | translate" />
    </div>
    <div class="field-wrapper login-wrapper">
      <input class="field password" [type]="showPassword ? 'text' : 'password'" formControlName="password" [attr.placeholder]="'leaf.register.passwordLabel' | translate" />
      <div
        *ngIf="enablePasswordCheck && passwordCheckClasses && showPassword"
        class="hide-icon"
        (click)="showPassword = false">
        <i [ngClass]="passwordCheckClasses.hide"></i>
      </div>
      <div
        *ngIf="enablePasswordCheck && passwordCheckClasses && !showPassword"
        class="show-icon"
        (click)="showPassword = true">
        <i [ngClass]="passwordCheckClasses.show"></i>
      </div>
    </div>
    <leaf-password-security-indicator
      *ngIf="showPasswordSecurityLevel"
      [passwordControl]="registerForm.get('password')"
      [minimumPasswordSecurity]="minimumPasswordSecurity">
    </leaf-password-security-indicator>
    <div class="field-wrapper login-wrapper" *ngIf="passwordConfirmation">
      <input class="field passwordValidation" [type]="showPassword ? 'text' : 'password'" formControlName="passwordValidation" [attr.placeholder]="'leaf.register.passwordValidationLabel' | translate" />
      <div
        *ngIf="enablePasswordCheck && passwordCheckClasses && showPassword"
        class="hide-icon"
        (click)="showPassword = false">
        <i [ngClass]="passwordCheckClasses.hide"></i>
      </div>
      <div
        *ngIf="enablePasswordCheck && passwordCheckClasses && !showPassword"
        class="show-icon"
        (click)="showPassword = true">
        <i [ngClass]="passwordCheckClasses.show"></i>
      </div>
    </div>
    <button (click)="register($event)">{{ 'leaf.register.submitLabel' | translate }}</button>
  </ng-container>
</form>
