:host {
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .field-wrapper {
      display: flex;
      flex-direction: row;

      .field  {
        flex: auto;
      }
    }
  }
}

.form-error {
  margin-top: -1rem;
  font-size: 12px;
  text-align: left;
}
