<form class="profile-update-form" [formGroup]="profileFormGroup" [class.row]="separateColumnForAvatar">
  <div class="form-part fields-form-part">
    <ng-container *ngIf="fields.includes('username')">
      <div class="form-group-title" *ngIf="!hideGroupTitles">{{ 'leaf.profile-update.username-form-group-title' | translate }}</div>
      <mat-form-field subscriptSizing="dynamic" [appearance]="fieldAppearance">
        <mat-label>{{ 'leaf.profile-update.username-input-placeholder' | translate }}</mat-label>
        <input
          matInput
          id="username"
          [placeholder]="
            'leaf.profile-update.username-input-placeholder' | translate
          "
          value=""
          formControlName="username"
        />
        <mat-error
          *ngIf="profileFormGroup.controls.username.hasError('required')"
        >
          {{ "leaf.profile-update.requiredError" | translate }}
        </mat-error>
      </mat-form-field>
    </ng-container>
    <ng-container
      *ngIf="fields.includes('firstname') || fields.includes('lastname')"
    >
    <div class="form-group-title" *ngIf="!hideGroupTitles">{{ 'leaf.profile-update.identity-form-group-title' | translate }}</div>
      <mat-form-field
        *ngIf="fields.includes('firstname')"
        subscriptSizing="dynamic"
      >
        <mat-label>{{ 'leaf.profile-update.firstname-input-placeholder' | translate }}</mat-label>
        <input
          matInput
          id="firstname"
          [placeholder]="
            'leaf.profile-update.firstname-input-placeholder' | translate
          "
          value=""
          formControlName="firstname"
        />
        <mat-error
          *ngIf="profileFormGroup.controls.firstname.hasError('required')"
        >
          {{ "leaf.profile-update.requiredError" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="fields.includes('lastname')"
        subscriptSizing="dynamic"
      >
      <mat-label>{{ 'leaf.profile-update.lastname-input-placeholder' | translate }}</mat-label>
        <input
          matInput
          id="lastname"
          [placeholder]="
            'leaf.profile-update.lastname-input-placeholder' | translate
          "
          value=""
          formControlName="lastname"
        />
        <mat-error
          *ngIf="profileFormGroup.controls.lastname.hasError('required')"
        >
          {{ "leaf.profile-update.requiredError" | translate }}
        </mat-error>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="fields.includes('phoneNumber')">
      <div class="form-group-title" *ngIf="!hideGroupTitles">{{ 'leaf.profile-update.phoneNumber-form-group-title' | translate }}</div>
      <mat-form-field subscriptSizing="dynamic" [appearance]="fieldAppearance">
        <mat-label>{{ 'leaf.profile-update.phoneNumber-input-placeholder' | translate }}</mat-label>
        <input
          matInput
          id="phoneNumber"
          [placeholder]="
            'leaf.profile-update.phoneNumber-input-placeholder' | translate
          "
          value=""
          formControlName="phoneNumber"
        />
        <mat-error
          *ngIf="profileFormGroup.controls.phoneNumber.hasError('required')"
        >
          {{ "leaf.profile-update.requiredError" | translate }}
        </mat-error>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="fields.includes('address')">
      <div class="form-group-title" *ngIf="!hideGroupTitles">{{ 'leaf.profile-update.address-form-group-title' | translate }}</div>
      <leaf-address-form formControlName="address" [appearance]="fieldAppearance"></leaf-address-form>
    </ng-container>
    <ng-container *ngIf="fields.includes('corporate') || fields.includes('taxId')">
      <div class="form-group-title" *ngIf="!hideGroupTitles">{{ 'leaf.profile-update.corporate-form-group-title' | translate }}</div>
      <mat-checkbox formControlName="corporate" *ngIf="fields.includes('corporate')">{{ 'leaf.profile-update.corporate-input-placeholder' | translate }}</mat-checkbox>
      <mat-form-field subscriptSizing="dynamic" [appearance]="fieldAppearance" *ngIf="fields.includes('taxId') && (profileFormGroup.controls.corporate.value || !fields.includes('corporate'))">
        <mat-label>{{ 'leaf.profile-update.taxId-input-placeholder' | translate }}</mat-label>
        <input
          matInput
          id="taxId"
          [placeholder]="
            'leaf.profile-update.taxId-input-placeholder' | translate
          "
          value=""
          formControlName="taxId"
        />
        <mat-error
          *ngIf="profileFormGroup.controls.taxId.hasError('required')"
        >
          {{ "leaf.profile-update.requiredError" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic" [appearance]="fieldAppearance" *ngIf="fields.includes('registrationNumber') && (profileFormGroup.controls.corporate.value || !fields.includes('corporate'))">
        <mat-label>{{ 'leaf.profile-update.registrationNumber-input-placeholder' | translate }}</mat-label>
        <input
          matInput
          id="registrationNumber"
          [placeholder]="
            'leaf.profile-update.registrationNumber-input-placeholder' | translate
          "
          value=""
          formControlName="registrationNumber"
        />
        <mat-error
          *ngIf="profileFormGroup.controls.registrationNumber.hasError('required')"
        >
          {{ "leaf.profile-update.requiredError" | translate }}
        </mat-error>
      </mat-form-field>
    </ng-container>
  </div>
  <div class="form-part avatar-form-part" *ngIf="fields.includes('avatarUrl')">
    <div class="form-group-title" *ngIf="!hideGroupTitles">{{ 'leaf.profile-update.avatar-form-group-title' | translate }}</div>
    <div class="uploader">
      <leaf-image-upload formControlName="avatarUrl" [resizeWidth]="250" [resizeHeight]="250"></leaf-image-upload>
    </div>
  </div>
</form>
<button mat-stroked-button class="save" (click)="submit()" [disabled]="!profileFormGroup.valid" *ngIf="!submitTrigger$" color="primary">
  {{ "leaf.profile-update.submit-button-label" | translate }}
</button>
