<h1>Templates</h1>
<h2>Web image seeker</h2>
<ol>
    <li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="Search Prefill" />
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="selectedImageUrl">
      You chose:<br />
      <img *ngIf="selectedImageUrl" [src]="selectedImageUrl" />
    </li>
  </ol>
<mat-divider></mat-divider>

<h2>Login component</h2>

<leaf-login-vanilla></leaf-login-vanilla>

<h2>Register component</h2>

<leaf-register-vanilla></leaf-register-vanilla>

<h2>Password forgotten component</h2>

<leaf-password-forgotten-vanilla (onDone)="onDone()"></leaf-password-forgotten-vanilla>
