<h1>Templates</h1>
<h2>Web image seeker</h2>
<ol>
    <li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="Search Prefill" />
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="selectedImageUrl">
      You chose:<br />
      <img *ngIf="selectedImageUrl" [src]="selectedImageUrl" />
    </li>
  </ol>
<mat-divider></mat-divider>

<h2>Login component</h2>

<leaf-login-vanilla [enablePasswordCheck]="true" [passwordCheckClasses]="passwordCheckClasses"></leaf-login-vanilla>

<h2>Register component</h2>

<leaf-register-vanilla [enablePasswordCheck]="true" [passwordCheckClasses]="passwordCheckClasses"></leaf-register-vanilla>

<h2>Password forgotten component</h2>

<leaf-password-forgotten-vanilla (onDone)="onDone()"></leaf-password-forgotten-vanilla>

<div *leafAdaptiveView="'only-mobile'">
  ONLY MOBILE
</div>
<div *leafAdaptiveView="'only-tablet'">
  ONLY TABLET
</div>
<div *leafAdaptiveView="'only-desktop'">
  ONLY DESKTOP
</div>
<div *leafAdaptiveView="'except-mobile'">
  EXCEPT MOBILE
</div>
<div *leafAdaptiveView="'except-tablet'">
  EXCEPT TABLET
</div>
<div *leafAdaptiveView="'except-desktop'">
  EXCEPT DESKTOP
</div>

<mat-divider></mat-divider>

<leaf-generic-form
  [config]="genericFormConfig"
  [formGroup]="genericFormFormGroup"></leaf-generic-form>
