<form class="form" [formGroup]="registerForm" (keyup.enter)="register()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput id="email" value="" formControlName="email" email="true">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput id="password" type="password" value="" formControlName="password">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Repeat Password</mat-label>
    <input matInput id="passwordValidation" type="password" value="" formControlName="passwordValidation">
  </mat-form-field>
  <button mat-stroked-button (click)="register()">REGISTER</button>
</form>