<form [formGroup]="sendPasswordChangeForm" *ngIf="state === 'SendPassword'" (keypressed.enter)="sendPasswordChangeKey()">
  <p class="password-change-key-disclaimer">{{ 'leaf.password-forgotten.vanilla.passwordChangeKeyDisclaimerLabel' | translate }}</p>
  <mat-form-field color="primary" appearance="outline" class="email">
    <mat-label>{{ 'leaf.password-forgotten.emailLabel' | translate }}</mat-label>
    <input
      matInput
      class="password-forgotten-email"
      type="text"
      formControlName="email"
      [placeholder]="'leaf.password-forgotten.emailPlaceholder' | translate">
  </mat-form-field>
  <button
    mat-stroked-button
    color="primary"
    class="send-password-button"
    (click)="sendPasswordChangeKey()"
    >
    {{ 'leaf.password-forgotten.sendPasswordChangeKeyButtonLabel' | translate }}
  </button>
</form>
<form [formGroup]="passwordChangeForm" (keypressed.enter)="changePassword()"  *ngIf="state === 'PasswordChange'">
  <mat-form-field color="primary" appearance="outline" class="email">
    <mat-label>{{ 'leaf.password-forgotten.passwordChangeKeyLabel' | translate }}</mat-label>
    <input
      matInput
      class="password-change-key"
      type="text"
      formControlName="passwordChangeKey"
      [placeholder]="'leaf.password-forgotten.passwordChangeKeyPlaceholder' | translate">
  </mat-form-field>

  <mat-form-field color="primary" appearance="outline" class="email">
    <mat-label>{{ 'leaf.password-forgotten.passwordLabel' | translate }}</mat-label>
    <input
      matInput
      class="password-change-password"
      type="password"
      formControlName="password"
      [placeholder]="'leaf.password-forgotten.passwordPlaceholder' | translate">
  </mat-form-field>

  <mat-form-field color="primary" appearance="outline" class="email">
    <mat-label>Email</mat-label>
    <input
      matInput
      class="password-change-password-validation"
      type="password"
      formControlName="passwordValidation"
      [placeholder]="'leaf.password-forgotten.passwordValidationPlaceholder' | translate">
  </mat-form-field>


  <button
    mat-stroked-button
    color="primary"
    class="password-change-button"
    (click)="changePassword()"
    >
    {{ 'leaf.password-forgotten.changePasswordButtonLabel' | translate }}
  </button>

  <a class="password-change-resend-link" href (click)="resendEmail($event)" *ngIf="emailToResendTo">
    {{ 'leaf.password-forgotten.resendLinkLabel' | translate }}
  </a>
</form>
