<mat-progress-bar mode="indeterminate" *ngIf="invitationDataCallOngoing$ | async"></mat-progress-bar>
<div *ngIf="(invitationData$ | async) as invitationData" class="invitation">
  <h2 class="title">
    {{ 'leaf.organization-invitation.title' | translate: {name: invitationData.name} }}
  </h2>
  <ng-container *ngIf="invitationData.invitation.status === 'INVITED'">
    <div class="information">
      {{ 'leaf.organization-invitation.information.INVITED' | translate }}
    </div>
    <button class="action-button" mat-stroked-button (click)="accept()" color="primary">
      <mat-icon>thumb_up</mat-icon>
      {{ 'leaf.organization-invitation.accept-button-label' | translate }}
    </button>
    <button class="action-button" mat-stroked-button (click)="decline()" color="warn">
      <mat-icon>thumb_down</mat-icon>
      {{ 'leaf.organization-invitation.decline-button-label' | translate }}
    </button>
  </ng-container>
  <ng-container *ngIf="invitationData.invitation.status !== 'INVITED'">
    <div class="information">
      {{ ('leaf.organization-invitation.information.' + invitationData.invitation.status) | translate }}
    </div>
    <button class="action-button" mat-stroked-button (click)="leave()">
      <mat-icon>chevron_left</mat-icon>
      {{ 'leaf.organization-invitation.leave-button-label' | translate }}
    </button>
  </ng-container>
</div>
