// To generate a new palette, go on: http://mcg.mbitson.com (no https)

$leaf-green-palette: (
  50: #e2f0e8,
  100: #b6d9c7,
  200: #85c0a1,
  300: #54a67b,
  400: #2f935f,
  500: #0a8043,
  600: #09783d,
  700: #076d34,
  800: #05632c,
  900: #03501e,
  A100: #83ffa4,
  A200: #50ff7e,
  A400: #1dff59,
  A700: #03ff46,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$leaf-blue-palette: (
  50: #e1e7ed,
  100: #b4c3d3,
  200: #829cb5,
  300: #507497,
  400: #2b5681,
  500: #05386b,
  600: #043263,
  700: #042b58,
  800: #03244e,
  900: #01173c,
  A100: #7298ff,
  A200: #3f73ff,
  A400: #0c4eff,
  A700: #0042f1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
