<form [formGroup]="sendPasswordChangeForm" *ngIf="state === 'SendPassword'">
  <p class="password-change-key-disclaimer">{{ 'leaf.password-forgotten.vanilla.passwordChangeKeyDisclaimerLabel' | translate }}</p>
  <input class="email" formControlName="email" [attr.placeholder]="'leaf.password-forgotten.vanilla.emailPlaceholder' | translate" />
  <button class="send-password-button" (click)="sendPasswordChangeKey()">{{ 'leaf.password-forgotten.vanilla.sendPasswordChangeKeyButtonLabel' | translate }}</button>
</form>
<form [formGroup]="passwordChangeForm" (keyup.enter)="changePassword()"  *ngIf="state === 'PasswordChange'">
  <input class="password-change-key" formControlName="passwordChangeKey" [attr.placeholder]="'leaf.password-forgotten.vanilla.passwordChangeKeyPlaceholder' | translate" />
  <input class="password" type="password" formControlName="password" [attr.placeholder]="'leaf.password-forgotten.vanilla.passwordPlaceholder' | translate" />
  <input class="passwordValidation" type="password" formControlName="passwordValidation" [attr.placeholder]="'leaf.password-forgotten.vanilla.passwordValidationPlaceholder' | translate" />
  <button class="password-change-button" (click)="changePassword()">{{ 'leaf.password-forgotten.vanilla.changePasswordButtonLabel' | translate }}</button>
  <a class="password-change-resend-link" href (click)="resendEmail($event)" *ngIf="emailToResendTo">
    {{ 'leaf.password-forgotten.vanilla.resendLinkLabel' | translate }}
  </a>
</form>
