<form class="password-update" [formGroup]="changePasswordForm">
  <mat-form-field [subscriptSizing]="'dynamic'">
    <input
      matInput
      type="password"
      id="oldPassword"
      [placeholder]="'leaf.password-update.currentPasswordPlaceholder' | translate"
      formControlName="oldPassword">
      <mat-error *ngIf="changePasswordForm.controls.oldPassword?.errors?.required">
        {{ 'leaf.password-update.requiredError' | translate }}
      </mat-error>
  </mat-form-field>
  <mat-form-field [subscriptSizing]="'dynamic'">
    <input
      matInput
      [type]="showPassword ? 'text' : 'password'"
      id="newPassword"
      [placeholder]="'leaf.password-update.newPasswordPlaceholder' | translate"
      formControlName="newPassword">
    <button matSuffix mat-icon-button (click)="showPassword = !showPassword" type="button">
      <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>
  </mat-form-field>
  <leaf-password-security-indicator
    *ngIf="showPasswordSecurityLevel"
    [passwordControl]="changePasswordForm.get('newPassword')"
    [minimumPasswordSecurity]="minimumPasswordSecurity">
  </leaf-password-security-indicator>
  <mat-error *ngIf="changePasswordForm.controls.newPassword?.errors?.required" class="form-error">
    {{ 'leaf.password-update.requiredError' | translate }}
  </mat-error>
  <mat-error *ngIf="hasMinimumPasswordSecurityError()" class="form-error">
    {{getMinimumPasswordSecurityErrorMessage()}}
  </mat-error>
  <mat-form-field [subscriptSizing]="'dynamic'">
    <input
      matInput
      [type]="showPasswordValidation ? 'text' : 'password'"
      id="newPasswordValidation"
      [placeholder]="'leaf.password-update.newPasswordValidationPlaceholder' | translate"
      formControlName="newPasswordValidation">
    <button matSuffix mat-icon-button (click)="showPasswordValidation = !showPasswordValidation" type="button">
      <mat-icon>{{ showPasswordValidation ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>
    <mat-error *ngIf="changePasswordForm.controls.newPasswordValidation?.errors?.required">
      {{ 'leaf.password-update.requiredError' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="changePasswordForm.errors">
    {{ 'leaf.password-update.differentPasswordError' | translate }}
  </mat-error>
  <button
    mat-button
    [disabled]="changePasswordForm.invalid"
    (click)="changePassword()">{{ 'leaf.password-update.submitLabel' | translate }}</button>
</form>
