<h3>Mon parrain</h3>
<leaf-sponsoring-my-sponsor></leaf-sponsoring-my-sponsor>
<h3>Mon lien</h3>
<leaf-sponsoring-link></leaf-sponsoring-link>

<h3>Mes filleuls</h3>
<leaf-sponsoring-my-affiliates></leaf-sponsoring-my-affiliates>

<h3>Sponsor code update widget</h3>
<leaf-sponsoring-code-update-widget [account]="(currentAccount$ | async)"></leaf-sponsoring-code-update-widget>

<h3>Sponsor code update</h3>
<leaf-sponsoring-code-update [account]="(currentAccount$ | async)"></leaf-sponsoring-code-update>
