<div
  class="plan-viewer"
  [class.flat]="flat"
  [class.selected]="selected"
  [class.selectable]="selectable"
  [class.selectable-with-button]="selectableWithButton"
  [style.--plan-color]="plan.color"
  (click)="!selectableWithButton && onSelect.emit()">
  <div class="plan-viewer-content">
    <div class="plan-viewer-header">
      {{ 'leaf.payment.plans.' + plan.name | translate }}
    </div>
    <div class="plan-contents">
      <ul class="plan-descriptions" *ngIf="showDescription">
        <li
          *ngFor="let description of plan.descriptions"
          class="description included"
          >
          <span>
            {{ 'leaf.payment.planDescriptions.' + description | translate }}
          </span>
        </li>
      </ul>
      <ul class="plan-features" *ngIf="showFeatures">
        <li
          *ngFor="let feature of plan.features"
          class="feature"
          [class.included]="!(feature.type === 'boolean' && feature.value !== 'true')"
          [class.excluded]="feature.type === 'boolean' && feature.value !== 'true'"
          >
          <span>
            {{ 'leaf.payment.features.' + feature.name + '.description' | translate: {value: feature.value } }}
          </span>
        </li>
      </ul>
    </div>
    <div class="plan-footer">
      <div class="plan-trial" *ngIf="showTrialDuration && plan.trialDuration">
        {{ "leaf.payment.plan-viewer.trialDurationLabel" | translate: {duration: plan.trialDuration} | uppercase }}
      </div>
      <div class="plan-pricing">
        <div *ngIf="plan.pricing.free" class="free">{{ "leaf.payment.plan-viewer.freeLabel" | translate | uppercase }}</div>
        <div *ngIf="plan.pricing.price" class="price">
          <span class="currency">€&nbsp;</span>
          <span class="value">{{ plan.pricing.price }}</span>
        </div>
        <mat-divider *ngIf="plan.pricing.price && plan.pricing.period" [vertical]="true" class="divider"></mat-divider>
        <div *ngIf="plan.pricing.period" class="period" [innerHtml]="'leaf.payment.period.' + plan.pricing.period | translate"></div>
      </div>
      <div class="plan-selection-button" *ngIf="selectable">
        <button
          mat-flat-button
          color="primary"
          [style.--mdc-filled-button-container-color]="plan.color"
          (click)="onSelect.emit()"
          >{{ "leaf.payment.plan-viewer.selectionButtonLabel" | translate }}</button>
      </div>
    </div>
  </div>
</div>
