:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#admin-settings-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  #admin-settings-page-container {
    display: flex;
    flex: 1;

    #admin-settings-left-column {
      width: 200px;
      margin: 0.5em;
    }

    #admin-settings-right-column {
      flex: 1;
      margin: 0.5em;
      background-color: white;
    }
  }
}

.admin-settings-menu {
  width: 100%;
  background-color: white;
}

ul.js-nav-links {
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100%;

  li {
    width: calc(100% - 1em);
    padding: 0.5em;

    a {
      text-decoration: none;
      color: black;

      &.active {
        font-weight: 900;
      }
    }
  }

  li:not(:first-child) {
    border-top: solid 1px rgb(200, 200, 200);
  }
}
